@import "tailwindcss";

@theme {
  --color-primary: #172436;
  --color-secondary: #52637a;
  --color-accent: #d19847;

  --font-body: "Playfair Display", serif;
}
html{
    font-family: var(--font-body);
}