@import "tailwindcss";

@theme {
  --color-primary: #172436;
  --color-secondary: #52637a;
  --color-accent: #d19847;

  --font-body: "Playfair Display", serif;
  --font-accent: "Inter", sans-serif;
   /* Fade in and scale animation */
  --animate-fade-in-scale: fade-in-scale 0.6s ease-out forwards;

  /* Slide in from left animation */
  --animate-slide-in-left: slide-in-left 0.8s ease-out forwards;

  /* Slide in from bottom animation */
  --animate-slide-in-up: slide-in-up 0.8s ease-out forwards;

  @keyframes fade-in-scale {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
  }

  @keyframes slide-in-left {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
  }

  @keyframes slide-in-up {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
  }

}
html{
    font-family: var(--font-body);
}